<% if signed_in? %>
  <div class="row">
  <%= form_for(@question, :action => :create) do |f| %>
    
    <%= f.text_field :description %> </br>
    <%= f.submit %>
  <% end %>  
  </div>
  <% @question_all.each do |q| %>
    <div class="aside">
      <%= link_to q.description, q %></br>
      <div class="section">
      <%= q.answers.size %> Answers. 
      </div>
      ------------------------------------------------------------------------------------------------------
    </div>

  <% end %>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the NoNamed</h1>

    <h2>
      This is the home page for the
      NoNamed
      application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 